.header {
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #21252b;
    z-index: 10;
    
    h1 {
        font-size:2.4rem;
        display: inline-block;
        margin-right: 20px;
        margin-left: 15px;
        a {
            color: #fff;
            transition: .2s;
            &:hover{
                color:#8e898c;
            }
        }
    }
}

.navi{
    display: flex;
    align-items: center;
    a{
        display: block;
        padding: 20px 15px;
        color:#fff;
        font-size:1.75rem;
        transition:.4s;
        &:hover{
            background-color: #323843;
        }
    }
}