footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #21252b;
    z-index: 10;
    color:#fff;
    text-align: center;
    font-size:1.6rem;
}